@import "variables.scss","mixin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: Arial, sans-serif, monospace;
   
}
body{
   
    font-family: system-ui;
}
.main-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: $white;
    padding: $container-padding;
    box-shadow: $box-shadow;
    overflow: hidden;
    .container-navbar {

        padding: $nav-padding;
        @include content-flex-end; 
       
        .nav {
                @include content-row-center;
            
            a {
                text-decoration: none;
                color: $link-color;
                padding: 0 .3rem;
                text-transform: capitalize;
            }
            .dot{
                width: 4px;
                height: 4px;
                background-color: $link-color;
                border-radius: 40%;
                pointer-events: none;
              
            }
        }

    }
    .collapse-header {
        position: relative;
        // overflow: hidden;
        padding: .03rem 0; // fixing  header padding
        .header-check-box {
            width: 100%;
            position: absolute;
            opacity: 0;
            transform: translate(-15px,10px) scale(2);
            cursor: pointer;
            z-index: 1;
            &:checked{
                width: 100%;
                transform: scale(2.5) translate(-10px , 4px);
                
            }
            &:checked ~ .header .collapse-icon {
                transform: rotate(-90deg);
               
                // position: absolute;
            }

            &:checked ~ .collapse-content {
                // display: none;
                transform: translate(0px,0px) scale(0);
                
                height: 0;
                // overflow: hidden;
             
               
            }
        }
        .header {
            background: $header-background-color;
            padding: $header-padding;
            border-radius: 4px;
            z-index: 9;
            @include content-spc-between;
            .toggle-btn {
                @include content-flex-start;
                .collapse-icon {
                    color: #666;
                    transition: .3s ease-in-out;
                    
                    
                }
                h2 {
                    color: $head-color;
                    font-size: .9rem;
                    text-transform: capitalize;
                    margin-left: 1.5rem;
                    
                }

            }
            h3 {
                font-size: .8rem;
                text-transform: capitalize;
                color: $head-color;
            }

        }
        .collapse-content {
            padding: $content-padding;
            transition: $transition;
            // transition-delay: .1s;
     
           .text-para{
               padding: $content-padding;
               
               p{
                   text-align: center;
                   color: $footer-para-color;
                   font-size: .8rem;
                   // padding: .5rem 2.6rem;
                //    font-weight: bold;
                   opacity: .8;
                   &::first-letter{
                       text-transform: uppercase;
                   }
                }
            }
            .inner-main-content {
                position: relative;
            
                .inner-check-box{
                    
                    position: absolute;
                  
                    width: 40%;
                    opacity: 0;
                    cursor: pointer;
                    transform: translate(-90px,10px) scale(2.5);
                    &:checked ~ .inner-collapse-content{
                        transform: translate(-100px ,0px) scale(0);
                        height: 0;
                        transition: .2s ease-in-out;
                        
                    }
                    &:checked  ~ .content-header .header-left .inner-collapse-icon{
                        transform: rotate(-90deg);
                    }
                }
                .content-header {
                    @include content-spc-between;
                    padding: $content-padding;
               
                    .header-left {
                        @include content-row-center;
                        margin-left: 1.2rem;
                        .inner-collapse-icon{
                           font-size: .7rem;
                           color: $icon-color;
                           transition: .2s ease-in-out;

                        }
                        .collpse-icon {
                            color: $text-color;
                        }

                        .img-icon {
                            width: 30px;
                            height: 30px;
                            border-radius: 5px;
                            background: $img-bg-color;
                            margin-left: 1rem;
                            padding: 0 .2rem;
                            // @include content-flex-center;
                            position: relative;
                            i{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                // color: rgb(15, 63, 65);
                                color: rgb(250, 250, 250);
                                // margin: auto auto;
                                
                            }
                        }

                        h2 {
                            font-size: .8rem;
                            margin-left: 2rem;
                            text-transform: capitalize;
                            color: $heading-color;
                         
                        }
                    }
                    .header-right {
                        color: $text-color;
                        span{
                            font-size: .7rem;
                        }
                        select {
                            outline: none;
                            border: none;
                            color: #888;
                            // padding: .1rem 0;
                            // background-color: transparent;
                            box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
                            cursor: pointer;
                            
                        }
                    }

                }

                
                .inner-collapse-content {
                    border-left: 3px solid rgb(6, 78, 80);
                    margin-left: 3.9rem;
                    margin-top: 0.1rem;
                    margin-bottom: 0.1rem;
                    
                    transition: $transition;
                    p {
                
                        transform: scale(1);
                        font-size: .9rem;
                        color: $text-color;
                        margin-left: 4rem;
                        padding: .1em 0;
                        word-spacing: 1px;
                        // font-weight: bold;
                            &::first-letter{
                                color: $link-color;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                            span{
                                i{
                                    color:  $warning;
                                }
                            }
                        
                        a{
                            text-decoration: none;
                            color: $link-color;
                            font-weight: bold;
                            border-bottom: 1px dotted $link-color;
                        }
                    }
                }

            }
        }
    }

    .container-footer {
        text-align: center;
        color: $footer-para-color;
        padding: $header-padding;
    }
}


@media screen and (max-width: 700px){
    .main-container{
        .container-navbar{
            a{
                font-size: .7rem;
            }
        }
        .collapse-header{

            .header-check-box{
                transform: translate(-15px,5px) scale(2);
            }
            .header{
               padding: $res-head-padding;
                    .toggle-btn{
                        .collpse-icon{
                            font-size: .4rem;
                        }

                        h2{
                            margin-left: .9rem;
                            font-size: .7rem;
                        }
                    }
                    h3{
                        font-size:  .6rem;
                    }
            }
            .collapse-content{
                .text-para{

                     p{
                        font-size: .6rem;
                    }
                }
                .inner-main-content{
                    .inner-check-box{
                       
                        width: 45%;
                        transform: translate(0px,5px) scale(1.5);
                    }
                    .content-header{

                        .header-left{
                            .inner-collapse-icon{
                                font-size: .5rem;
                            }
                            .img-icon{
                                width: 25px;
                                height: 25px;
                            
                            //   i{
                            //       width: 50%;
                            //       height: 50%;
                            //       transform: translate(-10px, 0);
                            //   }
                            }
                            h2{
                                font-size: .6rem;
                                margin-left: .7rem;
                            }
                        }
                        .header-right{
                            span{
                                font-size: .5rem;
                            }
                            select{
                                font-size: .6rem;
                            }
                        }
                    }
                    .inner-collapse-content{
                        border-left: 1px solid rgb(6, 78, 80);
                        margin-left: 3.6rem;
                        p{
                            margin-left: 1.9rem;
                            font-size: .7rem;
                        }
                    }
                }
            }
        }
        .container-footer{
            p{
                font-size: .8rem;
            }
        }
    }
}