$header-background-color : rgb(216, 212, 212);
$head-color: rgb(66, 60, 60);
$text-color : rgb(39, 39, 39);
$white: #fff;
$box-shadow: 0 0 5px 2px rgba(0,0,0,0.5);
$icon-color: #666;
$transition : .2s ease-in-out;
$link-color: rgb(17, 72, 131);
$footer-para-color: rgb(51, 50, 50);
$heading-color: rgb(17, 75, 136);
// $img-bg-color: rgb(181, 186, 184);
$img-bg-color:  rgb(15, 63, 65);
// padding  property values
$content-padding : .01rem 0rem;
$container-padding: 01rem .8rem;
$header-padding : .3rem .4rem;
$nav-padding : .8rem 1rem;
$res-head-padding:  .2rem .5rem;

$warning: rgb(179, 56, 18);